/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Lexend', sans-serif !important;
}
//****** ------------mat form field start------------// *******


.mdc-text-field{
    height: 40px !important;
    width: 100% !important;
}
.mdc-text-field--outlined .mat-mdc-form-field-infix, .mdc-text-field--no-label .mat-mdc-form-field-infix {
    // padding: 10px 0px 0px 0px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mat-mdc-form-field-subscript-wrapper{
    display: none !important;
}
.mdc-text-field--outlined.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-text-field__input ,
.mdc-text-field--no-label:not(.mdc-text-field--textarea) .mat-mdc-form-field-input-control.mdc-text-field__input, .mat-mdc-text-field-wrapper .mat-mdc-form-field-input-control{
    caret-color:black !important;
    color: black !important;
    font-size: 12px !important;
}
/* Change the border color */
.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__notch,
.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
  border-color:  rgb(126, 128, 126) !important;
}

/* Change the border width */
.mdc-text-field--outlined:not(.mdc-text-field--disabled)
  .mdc-notched-outline
  .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled)
  .mdc-notched-outline
  .mdc-notched-outline__notch,
.mdc-text-field--outlined:not(.mdc-text-field--disabled)
  .mdc-notched-outline
  .mdc-notched-outline__trailing {
  border-width: 1.5px !important;
}

/* Change the border focused color */
.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused
  .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused
  .mdc-notched-outline__notch,
.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused
  .mdc-notched-outline__trailing {
  border-color: rgb(170, 0, 204) !important;
}

/* Change the border hover color */
.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover
  .mdc-notched-outline
  .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover
  .mdc-notched-outline
  .mdc-notched-outline__notch,
.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover
  .mdc-notched-outline
  .mdc-notched-outline__trailing {
  border-color: rgba(102, 185, 0, 0.874) !important;
}

.mat-mdc-form-field.mat-form-field-invalid .mdc-notched-outline__leading,
.mat-mdc-form-field.mat-form-field-invalid .mdc-notched-outline__notch,
.mat-mdc-form-field.mat-form-field-invalid .mdc-notched-outline__trailing {
  border-color: red !important; /* Change as needed */
}

.mat-mdc-form-field-error {
    font-size: 12px !important;
}

/* Style placeholder when invalid */
input.ng-invalid.ng-touched::placeholder {
    color: red !important;
  }
mat-form-field{
  input{
    color: white !important;
    padding: 0px 5px;
    font-size: 16px !important;
  }
}

.mat-mdc-form-field-flex {
  height: 40px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  }
  
.mat-mdc-raised-button:not(:disabled) {
    background-color:rgb(187, 0, 224) !important;
}

//****** ------------mat form field end------------// *******


//****** ------------scrollbar start------------// *******
::-webkit-scrollbar {
  width: 3px; 
  height: 3px; 
}

::-webkit-scrollbar-thumb {
  background-color: #a003a8; /* Change the color as needed */
  border-radius: 6px; /* Adjust the border-radius as needed */
}

::-webkit-scrollbar-track {
  background-color: #000000; /* Change the color as needed */
}
  // ------------scrollbar end------------// 

  .activity-dialog{
    margin: 0px !important;
    padding: 15px !important;
    min-width: 270px !important;
  }


  .mat-expansion-panel-header-description{
    flex-grow: 0 !important;
  }

  
  .mat-expansion-panel {
    background: linear-gradient(45deg, #000000, #3e004f) !important;
    }
    .mat-expansion-panel-header-title{
      color: white !important;
    }
    .mat-expansion-panel-body{
      // padding: 0px 1px 10px !important;
      color: rgb(235, 58, 255) !important;
    }


    @media (max-width: 368px) {

      p {
        font-size: 12px !important;
      }
      h1, h2, h3, h4, h5, h6 {
        font-size: 14px !important;
      }
      span {
        font-size: 12px !important;
      }

    }
    @media (min-width: 368px) and (max-width: 600px) {

      p {
        font-size: 14px !important;
      }
      h1, h2, h3, h4, h5, h6 {
        font-size: 16px !important;
      }
      span {
        font-size: 14px !important;
      }

    }

